# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
*.eggs/
build/

# Virtualenv
venv/
.env

# Local data and cache
*.log
*.sqlite3

# OS junk
.DS_Store

# Release/build artifacts
/dist/
/*.zip

